<form action="sign-up" method="post">
  <div class="row">
    <div class="six columns">
      <input class="u-full-width" type="text" name="user[user_name]" placeholder="Username">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input class="u-full-width" type="password" name="user[password]" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input class="button-primary u-pull-right" value="Sign up" type="submit">
    </div>
  </div>
</form>
