<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,300italic,700,700italic">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css?<%= Random.new.rand(100) %>">
  </head>

  <div class="container standfirst">
    <div class="row">
      <div class="three columns">
        <h1>swiss cheese</h1>
      </div>
      <div class="three columns menu">
        <% if current_user %>
          <a href="/posts">list posts</a> |
          <a href="/posts/new">new post</a> |
        <% end %>
        <%= session[:user_id] || '<a href="/account/sign-in">sign in</a> | <a href="/account/sign-up">sign up</a>' %>
      </div>
      <div class="six columns">
        <div class="search u-pull-right">
          <form action="/search" method="get">
            <input type="text" name="q" placeholder="Search">
            <input class="button button-search" type="submit" value="Search">
          </form>
        </div>
      </div>
    </div>

    <div class="container content">
      <%= yield %>
    </div>
</html>

