<form action="/search" method="get" >
  <div class="row">
    <div class="nine columns">
      <input class="u-full-width" type="text" name="q" placeholder="Search">
    </div>
    <div class="three columns">
      <input type="submit" value="Search">
    </div>
  </div>
</form>
