<h3>Search</h3>
<%= erb :'search/_search_form' %>
<%= erb :'search/_recent_searches' %>
<% @results.each do |result| %>
  <div class="search-result">
    <p class="search-result-title"><%= result.title %></p>
    <p class="search-result-body"><%= "#{result.body[0..200]}..." %></p>
  </div>
<% end %>
