<h2>Search results</h2>
<% @results.each do |result| %>
  <div class="search-result">
    <p class="search-result-title"><%= result.title %></p>
    <p class="search-result-body"><%= "#{result.body[0..200]}..." %></p>
  </div>
<% end %>
