<h3>Users</h3>

<table>
  <tr>
    <th>User name</th>
    <th>Admin</th>
    <th>&nbsp;</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td>
      <%= user.user_name %> 
    </td>
    <td>
      <%= user.admin %>
    </td>
    <td>
      <form method="post" class="frm-inline" action="/users/delete">
        <input type="hidden" name="user_id" value="<%= user.id %>" >
        <input type="submit" class="btn-delete" value="Delete">
      </form>
    </td>
  </tr>
<% end %>
</table>
  
