<form action="/" method="post">
  <div class="row">
    <div class="six columns">
      <textarea class="u-full-width" name="body" placeholder="Body"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input class="button-primary u-pull-right" value="Peep" type="submit">
    </div>
  </div>
</form>

