<h3>New post</h3>
<form action="/posts" method="post">
  <div class="row">
    <div class="six columns">
      <input class="u-full-width" type="text" name="title" placeholder="Title">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <textarea class="u-full-width input-post-body" name="body" placeholder="Body"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input type="checkbox" name="draft"> Draft
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <input class="button-primary u-pull-right" value="Save" type="submit">
    </div>
  </div>
</form>

